body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif, Helvetica, sans-serif;
}
header{
    background-color: #A80038;
    padding: 30px;
    text-align: center;
    color: #FBF9FA;
}
header p{
    font-size: 35px;
}
ul.navigation{
    list-style-type:none;
}
ul.navigation li{
    display: inline-block;
    padding-left: 20px;
}
ul.navigation li a:hover{
    opacity: 0.5;
}
.content{
    background-image: url('../img/gedung-unhan.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px 20px 200px 20px;
}
.flex-container{
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    border: solid 2px rgba(255,255,255,0.027);
    display: flex;
    color: #dbdbdb;
    -webkit-text-stroke: 2px rgb(65, 57, 57);
}
.flex-item{
    padding: 20px;
}
span{
    font-weight: 600;
}

footer{
    background-color: #FD0054;
    padding: 10px;
    text-align: center;
    color: #FBF9FA;
}

.carousel-inner.img-thumbnail{
    border-radius: 3%;
}

.carousel-item img{
    border-radius: 3%;
}